header.html
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/header.css"> <!-- Custom Header CSS -->
  <style>
    .dropdown-menu a {
      color: #343a40;
    }
    .dropdown-menu a:hover {
      background-color: #f8f9fa;
    }
  </style>
</head>
<body>
<div th:fragment="fragment">
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">이불밖은위험해</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto" id="navbar-menu">
          <li class="nav-item active"><a href="/" class="nav-link">홈</a></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="sokdakMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">속닥속닥</a>
            <div class="dropdown-menu" aria-labelledby="sokdakMenu">
              <a class="dropdown-item" href="/sokdaknotice">공지사항</a>
              <a class="dropdown-item" href="freeboard/paging">자유게시판</a>
              <a class="dropdown-item" href="/sokdakbitic">자랑게시판</a>
            </div>
          </li>
          <li class="nav-item"><a href="/shop" class="nav-link">쇼핑</a></li>
          <li class="nav-item"><a href="/outside" class="nav-link">이불밖으로</a></li>
          <li class="nav-item cta" id="login-item"><a href="/user/login" class="nav-link"><span>로그인</span></a></li>
          <li class="nav-item cta" id="signup-item"><a href="/user/save" class="nav-link"><span>회원가입</span></a></li>
          <li class="nav-item cta" id="nickname-item" style="display:none;">
            <a href="/user/detail" id="nickname" class="nav-link"></a>
          </li>
          <li class="nav-item" id="bell-item" style="display:none;">
            <a href="#"><img src="/img/bell.png" alt="알림 아이콘" width="24" height="24"></a>
          </li>
          <li class="nav-item cta" id="logout-item" style="display:none;"><a href="/user/logout" class="nav-link"><span>로그아웃</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<script src="/js/jquery.min.js"></script> <!-- jQuery -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap JS -->
<script src="/js/header.js"></script> <!-- 헤더 JS 파일 포함 -->
</body>
</html>