<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<title>Insert title here</title>
</head>
<body>
<table border="1">
    <tr>
        <th>번호</th>
        <th>태그</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
        <th>추천</th>
    </tr>
    <tr th:each="biticboard: ${biticBoardList}">
        <td th:text="${biticboard.seq}"></td>
        <td th:text="${biticboard.tag}"></td>
        <td><a th:href="@{|/biticboard/${biticboard.seq}|}" th:text="${biticboard.title}"></a></td>
        <td th:text="${biticboard.nickname}"></td>
        <td th:text="*{#temporals.format(biticboard.createdTime, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${biticboard.views}"></td>
        <td th:text="${biticboard.likeCount}"></td>
    </tr>
</table>

<a href="/">홈으로</a>
</body>
</html>