<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<title>Insert title here</title>
</head>
<body>
<h1>상세조회 페이지</h1>
<table border="1">
  <tr>
    <th>seq</th>
    <th>loginid</th>
    <th>pw</th>
    <th>name</th>
    <th>nickname</th>
    <th>address</th>
    <th>email</th>
    <th>tel</th>
    <th>role</th>

  </tr>
  <tr >
    <td th:text="${user.seq}"></td>
    <td th:text="${user.loginid}"></td>
    <td th:text="${user.pw}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.nickname}"></td>
    <td th:text="${user.address}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.tel}"></td>
    <td th:text="${user.role}"></td>
    
  </tr>
</table>

<a href="/">홈으로</a>
</body>
</html>