<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>메시지 보내기</title>
</head>
<body>
<h1>메시지 보내기</h1>
<form th:action="@{/message/send}" method="post">
    <input type="hidden" name="sender" th:value="${username}" />
    <label for="receiver">받는 사람:</label>
    <select name="receiver" id="receiver">
        <option th:each="user : ${users}" th:if="${user.username} != ${username}" th:value="${user.username}" th:text="${user.nickname}"></option>
    </select>
    <br>
    <label for="title">제목:</label>
    <input type="text" name="title" id="title" required />
    <br>
    <label for="content">메시지 내용:</label>
    <textarea name="content" id="content" required></textarea>
    <br>
    <button type="submit">보내기</button>
</form>
</body>
</html>
