<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>보낸 메시지</title>
</head>
<body>
<h1>보낸 메시지</h1>

<table>
    <tr>
        <th>받는 사람</th>
        <th>제목</th>
        <th>시간</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.receiver}"></td>
        <td th:text="${message.title}"></td>
        <td th:text="${#temporals.format(message.timestamp, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
</table>

<a th:href="@{/message/send(username=${username})}">메시지 보내기</a>
<a th:href="@{/messageBox(username=${username})}">메시지함으로 돌아가기</a>

</body>
</html>
